html {
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Exo 2", sans-serif;
}
body {
  background-color: #ecf0f1;
}
.menu-bar {
  float: right;
}

li a {
  display: block;
  color: #8e44ad;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  color: #9b59b6;
}
.section {
  text-align: center;
}
.herodesc {
  font-family: "Exo 2", sans-serif;
}
.herofoto {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.perkenalan {
  background-color: #8e44ad;
  color: white;
}

.sosmed > a > img {
  width: 120px;
  height: 120px;
}

.sosmed > a {
  margin-left: 100px;
  margin-right: 100px;
}

.contactme {
  float: left;
  font-family: "Exo 2", sans-serif;
}

.contactme > p > img {
  width: 25px;
  height: 25px;
  text-align: center;
}

.section > .contactme {
  margin: 30px;
  text-align: left;
}

.section > .form {
  margin: 30px;
  text-align: left;
  float: right;
}
.section > .perkenalan {
  font-family: "Exo 2", sans-serif;
}
.section > h1 {
  font-family: "Exo 2", sans-serif;
}
.section > .perkenalan > h1 {
  padding-top: 25px;
  text-align: center;
}
.section > .perkenalan > h2 {
  padding: 0px 50px 25px 50px;
  text-align: center;
}

.input-form {
  padding: 12.5px;
  margin-bottom: 5px;
}

.change-color {
  background-color: #8e44ad;
}
